In [1]:
set_2 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
dict_2 = {1: "one", 2: "two", 3: "three", 4: "four", 5: "five", 6: "six", 7: "seven", 8: "eight", 9: "nine"}
tuple_2 = (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
list_2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
3.5 in list_2

False

In [20]:
str_2 = "Hello, World!"
"h" not in str_2

True

In [28]:
dict_2 = {1: "one", 2: "two", 3: "three", 4: "four", 5: "five", 6: "six", 7: "seven", 8: "eight", 9: "nine"}
"two" in dict_2

False